/* // navbar styles  */

.navbar {
  background-color: var(--primaryPriColor);
  height: max-content;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-holder {
  font-size: 20px;
  font-weight: 900;
  color : var(--primaryTextColor)
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  text-decoration: none;
  list-style-type: none;
  margin: 0px 35px;
}
.navbar ul li a{
  color : var(--primaryTextColor);
  font-size: 20px;
  font-weight: 900;
}
.navbar ul li:hover{
    transition: all ease 0.4s;
    transform: scale3d(1.2, 1.2, 50);
}

/* // taskRow //  */
.task-card{
  height: 270px;
  width: 240px;
  margin-bottom: 10px;
  border: 2px inset black;
  border-radius: 10px;
  background-color: var(--secondaryPriColor);
  color: var(--primaryPriColor)
}
.task-card .task-title{
  font-size: 20px;
  height: 22px;
  overflow: auto;
  font-weight: 900;
  display: flex;
  margin: 12px;
}
.task-card .task-description{
  font-size: 15px;
  text-align: left;
  padding: 5px 12px;
  height: 100px;
  margin-bottom: 10px;
  width: 100%;
  overflow:auto;
}
.task-card .task-deadline{
  padding-left: 12px;
  font-weight: 800;
  margin: 0px 0 15px 0;
}
.task-card .task-status{
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.task-card .task-status p{
  display: inline;
  font-size: 15px;
  padding: 8px 25px;
  border-radius: 20px;
  width: max-content;
  color: white;
}
.task-card .task-actions{
  display: flex;
  align-items: center;
  padding: 20px 0px;
  height: max-content;
  padding: 0px 12px;
}
.task-card .task-status .task-actions .action-btn{
  font-size: 20px;
  margin-left: 12px;
  cursor: pointer;
}