* {
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
:root {
  --primaryPriColor: black;
  --primarySecColor: rgb(19, 30, 37);
  --primaryTextColor: white;
  --secondaryPriColor: #eae8ff;
  --secondaryTextColor: black;

  --statusOK: #1abc9c;
  --statusBad: #c0392b;
  --statusDef: rgb(255, 163, 77);
}

#root {
  height: max-content;
  width: 100vw;
  overflow: auto;
}

/* // Pages styles //  */

/* 1. Home page  */
.home-container {
  height: max-content;
  background-color: var(--secondaryPriColor);
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
  width: 100%;
}
.home-container .header-container {
  height: calc(100vh - 62.5px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.home-container .header-container h1 {
  font-size: 78px;
  font-weight: 900;
  color: var(--primaryTextColor);
}
.home-container .header-container p {
  font-size: 20px;
  word-spacing: 7px;
  width: 50%;
  text-align: center;
  justify-content: center;
  margin: 50px auto;
  color: var(--primaryTextColor);
}
.home-container .header-container #special-statement {
  margin: 0 auto;
  font-size: 30px;
  margin-top: 50px;
  color: var(--statusDef);
  text-align: center;
}

/* 2. Login Page  */
.login-page,
.register-page {
  background-color: var(--secondaryPriColor);
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
.login-page .form-container,
.register-page .form-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.login-page .form-container #company-name,
.register-page .form-container #company-name {
  padding: 20px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 10%;
}
.login-page .form-container #login-desc,
.login-page .reg-btn-container #login-page-reg-header,
.register-page .form-container #register-desc,
.register-page .login-btn-container #register-page-login-header {
  color: var(--secondaryTextColor);
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 0%;
  text-align: center;
}
.login-page .form-container form,
.register-page .form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0 0 10% 0;
  width: 60%;
}
.login-page .form-container form .text-fields,
.register-page .form-container form .text-fields {
  background-color: var(--secondaryPriColor);
  margin-bottom: 25px;
  border-radius: 30px;
  width: 80%;
}
.login-page .form-container form .text-fields input,
.register-page .form-container form .text-fields input {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.login-page .form-container form #login-btn,
.login-page .reg-btn-container #reg-redirect-btn,
.register-page .form-container form #register-btn,
.register-page .login-btn-container #login-redirect-btn {
  background-color: var(--primarySecColor);
  font-size: 16px;
  padding: 10px 100px;
  border-radius: 30px;
  margin-top: 5%;
  width: max-content;
}
.login-page .reg-btn-container #reg-redirect-btn ,
.register-page .login-btn-container #login-redirect-btn {
  background-color: var(--secondaryPriColor);
  color: var(--secondaryTextColor);
}

.login-page .reg-btn-container, 
.register-page .login-btn-container {
  height: 100%;
  background-color: var(--primarySecColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.login-page .reg-btn-container #login-page-reg-desc,
.register-page .login-btn-container #register-page-login-desc {
  margin: 5% 0%;
  color: #eff7f3;
  text-align: center;
  width: 70%;
  color: #eff7f3;
  font-weight: 600;
  font-size: 16px;
}
.login-page .reg-btn-container #login-page-reg-header,
.register-page .login-btn-container #register-page-login-header {
  color: #eff7f3;
}
.err-container {
  width: max-content;
  color: var(--statusBad);
}

/* // Register page //  */
.register-page {
  overflow: hidden;
}
.register-page .form-container #company-name {
  margin-bottom: 7%;
}

/* // All Tasks page //  */
.all-tasks-page {
  height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.all-tasks-page .all-tasks-holder {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}
.all-tasks-page .all-tasks-holder p {
  font-size: 40px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
}
.all-tasks-page .all-tasks-holder .card-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.all-tasks-page .all-tasks-holder .card-container h1 {
  margin: 30px auto;
}
.all-tasks-page .all-tasks-holder .card-container .all-tasks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 20px));
  grid-gap: 20px;
  width: 100%;
  padding: 0 10%;
  height: 80%;
  overflow: auto;
  justify-content: start;
}
.all-tasks-page .all-tasks-holder .pagination {
  height: 10%;
  padding: 0px 5%;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: 0px 5%;
  position: fixed;
  bottom: 20px;
  font-size: 25px;
  font-weight: 900;
}
.all-tasks-page .all-tasks-holder .pagination button {
  font-size: 20px;
  font-weight: 600;
}

/* // Add tasks page //  */
.add-tasks-page h1,
.update-task-page h1 {
  text-align: center;
  margin: 30px 0;
}

.task-form {
  background-color: #eff7f3;
  padding: 20px 10px;
  display: flex;
  width: 60%;
  height: 100%;
  margin: auto;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.task-form input,
.task-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
legend {
  font-size: 26px;
  font-weight: 600;
  padding-left: 10px;
}
select {
  font-size: 20px;
  padding-left: 15px;
}

.task-form input[type="date"] {
  width: 42px;
}

.add-task-button,
.update-task-button {
  background-color: #2980b9; /* Darker blue for the button */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-task-button:hover {
  background-color: #1f618d; /* Darker shade on hover */
}
.fake-navbar {
  background-color: #00308f;
  height: 80px;
  display: flex;
  width: 100%;
}
