* {
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
#root {
  height: max-content;
  width: 100vw;
  overflow: auto;
}

/* // Pages styles //  */

/* 1. Home page  */
.home-container {
  height: 100vh;
  width: 100%;
  /* background-image: url('./Assets/bg-image-home.jpg'); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.home-container .header-container {
  height: max-content;
  width: 100%;
  padding: 250px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* background-image: url('./Assets/header-container-bg.jpg'); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center top;
}
.home-container .header-container h1 {
  font-size: 70px;
  font-weight: 900;
  color: #00308f;
}
.home-container .header-container p {
  font-size: 25px;
  margin-left: 10%;
  text-align: justify;
  color: #00308f;
}
.home-container .features-container,
.home-container .whyTM-container {
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 7%;
  /* background-color: #00308F; */
}
h2 {
  font-size: 40px;
  padding: 10px 20px;
  background-color: #00308f;
  color: white;
  margin-bottom: 35px;
}
h3 {
  padding-left: 50px;
  font-size: 30px;
}

.home-container .features-container p,
.home-container .whyTM-container p {
  font-size: 20px;
  margin: 15px 0 30px 0;
  padding-left: 100px;
}

.home-container .features-container .first-child {
  width: 58%;
  height: 100%;
}
.home-container .imageholder {
  height: 100%;
  width: 38%;
}
.home-container .imageholder img {
  height: 100%;
  width: 100%;
  transform: rotate(10deg);
}

/* 2. Login Page  */
.login-page {
  background-color: aliceblue;
  background-position: center center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
.login-page .form-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.login-page .form-container #company-name {
  /* background-color: aqua; */
  padding: 20px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 10%;
}
.login-page .form-container #login-desc,
.login-page .reg-btn-container #login-page-reg-header {
  color: black;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 0%;
  text-align: center;
}
.login-page .form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0 0 10% 0;
  width: 60%;
  /* background-color: blue; */
}
.login-page .form-container form .text-fields {
  background-color: aliceblue;
  margin-bottom: 25px;
  border-radius: 30px;
  width: 80%;
}
.login-page .form-container form .text-fields input {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.login-page .form-container form #login-btn,
.login-page .reg-btn-container #reg-redirect-btn {
  background-color: #00308f;
  font-size: 16px;
  padding: 10px 100px;
  border-radius: 30px;
  margin-top: 5%;
  width: max-content;
}
.login-page .reg-btn-container #reg-redirect-btn {
  background-color: aliceblue;
  color: black;
}

.login-page .reg-btn-container {
  height: 100%;
  background-color: #00308f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.login-page .reg-btn-container #login-page-reg-desc {
  margin: 5% 0%;
  color: #eff7f3;
  text-align: center;
  width: 70%;
  color: #eff7f3;
  font-weight: 600;
  font-size: 16px;
}
.login-page .reg-btn-container #login-page-reg-header {
  color: #eff7f3;
}

/* // Register page //  */
.register-page {
  background-color: aliceblue;
  background-position: center center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.register-page .form-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.register-page .form-container #company-name {
  /* background-color: aqua; */
  padding: 20px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 7%;
}
.register-page .form-container #register-desc,
.register-page .login-btn-container #register-page-login-header {
  color: black;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 0%;
  text-align: center;
}
.register-page .form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0 0 10% 0;
  width: 60%;
  /* background-color: blue; */
}
.register-page .form-container form .text-fields {
  background-color: aliceblue;
  margin-bottom: 25px;
  border-radius: 30px;
  width: 80%;
}
.register-page .form-container form .text-fields input {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.register-page .form-container form #register-btn,
.register-page .login-btn-container #login-redirect-btn {
  background-color: #00308f;
  font-size: 16px;
  padding: 10px 100px;
  border-radius: 30px;
  margin-top: 5%;
  width: max-content;
}
.register-page .login-btn-container #login-redirect-btn {
  background-color: aliceblue;
  color: black;
}

.register-page .login-btn-container {
  height: 100%;
  background-color: #00308f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.register-page .login-btn-container #register-page-login-desc {
  margin: 5% 0%;
  color: #eff7f3;
  text-align: center;
  width: 70%;
  color: #eff7f3;
  font-weight: 600;
  font-size: 16px;
}
.register-page .login-btn-container #register-page-login-header {
  color: #eff7f3;
}

/* // All Tasks page //  */
.all-tasks-page {
  height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.all-tasks-page .all-tasks-holder {
  height: 100%;
  width: 100%;
  border: 1px solid red;
  display: flex;
  flex-flow: column;
}
.all-tasks-page .all-tasks-holder p {
  font-size: 40px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
}
.all-tasks-page .all-tasks-holder .card-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.all-tasks-page .all-tasks-holder .card-container h1 {
  margin: 30px auto;
}
.all-tasks-page .all-tasks-holder .card-container .all-tasks {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 20px)
  ); 
  grid-gap: 20px;
  width: 100%;
  padding: 0 10%;
  height: 80%;
  overflow: auto;
  justify-content: start;
}
.all-tasks-page .all-tasks-holder .pagination {
  height: 10%;
  padding: 0px 5%;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: 0px 5%;
  position: fixed;
  bottom: 20px;
  font-size: 25px;
  font-weight: 900;
}
.all-tasks-page .all-tasks-holder .pagination button {
  font-size: 20px;
  font-weight: 600;
}
